
.content
{
  @extend .container;
}

.main-page
{
  @extend .row;
  margin-top: 50px;
  margin-bottom: 40px;
}

.title
{
  @extend .text-center;
  font-family: $font-title;
  color: $color-grey;
  font-size: 64px;

  img
  {
    display: block;
    margin: 0 auto;
  }
}

.title--main-page
{
  @extend .col-sm-4;
}

.main-page__content
{
  @extend .col-sm-offset-1;
  @extend .col-sm-7;

  h1
  {
    color: $color-red;
    text-transform: uppercase;
  }
  h2
  {
    font-weight: 700;
  }
  p
  {
    font-size: 24px;
  }
}

.main-page__button
{
  font-size: 28px;
  font-weight: 500;
  display: inline;
  background-color: $color-red;
  color: $color-white;
  text-transform: uppercase;
  padding: 0 25px;
  position: relative;

  &:active
  {
    top: 2px;
  }
}

.pages
{
  @extend .row;
  margin-top: 30px;
  margin-bottom: 80px;
}

.page
{
  @extend .col-sm-6;
  @extend .text-center;

  h1
  {
    color: $color-red;
    text-transform: uppercase;
  }
  h2
  {
    font-weight: 700;
  }
  p
  {
    font-size: 18px;
  }
}

.page__separator
{
  font-family: $font-title;
  font-size: 120px;
  height: 50px;
  margin-top: -40px;
}