.topbar {
	@extend .text-right;
	height: 26px;
	background-color: $color-red;
	padding-right: 3px;
	a {
		margin: 0 3px;
	}
}

.header {
	position: relative;
	overflow: hidden;
	h1, h3 {
		font-family: $font-title;
	}
	h1 {
		font-size: 140px;
		color: $color-blue;
		margin: 40px 0 15px 0;
		height: 130px;
		
		a{
			color: $color-blue;
		}
	}
	h2 {
		display: inline;
		background-color: $color-red;
		color: $color-white;
		text-transform: uppercase;
		padding: 0 50px;
		&.phone-header {
			display: none;
		}
	}
	h3 {
		font-size: 65px;
		color: $color-grey;
		background-image: url('images/header-filigrana-node.png');
		background-repeat: no-repeat;
		background-position: center;
		line-height: 100px;
	}
}

.header__knot {
	position: absolute;
	top: -20px;
	right: -20px;
}

.header__title {
	@extend .container;
	@extend .text-center;
}

.nav {
	@extend .text-center;
	background-color: $color-blue;
	li {
		display: inline-block;
		margin: 25px 20px;
	}
	
	.mobile-menu__container{
		display: none;
		text-align: right;
	}
	
	.mobile-menu{
		display: inline-block;
		background: url('images/menu-icon.png') no-repeat center center;
		width: 32px;
		height: 17px;
		margin: 20px;
		text-align: right;
	}
}


.main-menu{
	.menu-item {
		transition: top .1s;
		&.current-menu-item, &:hover {
			span{
				background-color: $color-red;
			}
		}

		a {
			display: inline-block;
			font-family: $font-title;
			color: $color-white;
			font-size: 32px;
			&::before {
				content: '';
				display: block;
				margin: 0 auto;
				background-position: center;
				background-repeat: no-repeat;
				width: 97px;
				height: 85px;
				background-color: $color-blue;
			}
		}
		
		span{
			display: inline-block;
			margin-top: 5px;
			padding: 5px 10px 0px;
			line-height: 35px;
		}

		&.call-for-paper{
			a::before{
				background-image: url('images/menu-c4p-icon.png');
			}
		}

		&.the-venue{
			a::before{
				background-image: url('images/menu-venue-icon.png');
			}
		}

		&.who-we-are{
			a::before{
				background-image: url('images/menu-whoweare-icon.png');
			}
		}

		&.past-editions{
			a::before{
				background-image: url('images/menu-past-edition-icon.png');
			}
		}

		&.tickets{
			a::before{
				background-image: url('images/menu-tickets-icon.png');
			}
		}

		&.supporters{
			a::before{
				background-image: url('images/menu-supporter-icon.png');
			}
		}
	}
}