
@media (max-width: $screen-xs-max) {

  .header__knot
  {
    display: none;
  }

  .main-page__content
  {
    text-align: center;
  }

  .page:first-of-type
  {
    margin-bottom: 80px;
  }

  .footer__box
  {
    text-align: center;
  }

}

@media (max-width: $screen-xs) {
  .header
  {
    h1
    {
      font-size: 100px;
      height: 100px;
    }
    
    h2
    {
      font-size: 22px;
      padding: 0px 15px;
    }
    
  }
  
  .nav
  {
    li
    {
      margin: 25px 10px;
    }
  }
  
}